@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand-beige: #ECDED5;
  --color-brand-taupe: #B5AEA8;
  --color-brand-peach: #F2D5CE;
  --color-brand-mauve: #BF9D95;
  --color-brand-dark: #A07C70;
  --color-brand-navy: #1D2A4B;
  --color-brand-navy-dark: #0f1627;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #fdfcfb;
  --foreground: #1D2A4B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B1120; /* deeper brand-navy-dark */
    --foreground: #ECDED5; /* brand-beige */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
